<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="RealtimeSpreadMonitor.Properties.Settings.TMLDBConnectionString"
        connectionString="Data Source=h9ggwlagd1.database.windows.net;Initial Catalog=TMLDB;User ID=steve;Password=KYYAtv9P;Connect Timeout=60"
        providerName="System.Data.SqlClient" />
</connectionStrings>
  <appSettings>
    <add key="cmeCoreID"  value="API_TMQREXO_MARGIN"/>
    <add key="cmeCorePwd"  value="NJoyce111174$"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
